<!--<section id="contact" class="bg-dark">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8 col-lg-offset-2 text-center">-->
<!--                <h2 class="section-heading">Restons en contact</h2>-->
<!--                <hr class="primary">-->
<!--                <p>Prêt pour un futur projet ? N'hésitez pas à nous contacter ! Nous répondrons au plus vite !</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <a href="{{ site.facebook_url }}">-->
<!--                    <i class="fab fa-facebook-f fa-3x wow bounceIn" style="color: white;" data-wow-delay=".1s"></i>-->
<!--                    <p>{{ site.facebook_username }}</p>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <a href="mailto:{{ site.ajl_mail }}">-->
<!--                    <i class="fa fa-envelope fa-3x wow bounceIn" style="color: white; " data-wow-delay=".1s"></i>-->
<!--                    <p>{{ site.ajl_mail }}</p>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <a href="#">-->
<!--                    <i class="fas fa-phone fa-3x wow bounceIn" style="color: white; " data-wow-delay=".1s"></i>-->
<!--                    <p>{{ site.ajl_phone }}</p>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
