<section id="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Informations :</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row text-center">
            <div>Date : 19.06.2021</div>
            <div>Lieu : Mairie</div>
            <div>Heure : 14h30 (14h15)</div>
        </div>

        <hr class="primary">

        <div class="row text-center">
            <p>Retrouvons nous tous devant la mairie de Luynes pour célébrer l'union de mon papa et de ma maman !</p>
<!--            TODO : Ajouter une photo de la mairie de luynes -->
        </div>

        <hr class="primary">

        <div class="row text-center">
            <p>Prenons la pose afin d'immortalisé ce moment magique</p>
            <img src="../img/camera.jpg" alt="" width="250px">
        </div>

        <hr class="primary">

        <div class="row text-center">
            <p>Ne nous quittons pas si vite !</p>
            <p>Venez découvrir ou re-découvrir notre maison et déguster un bon apéritif dans notre jardin</p>
        </div>

    </div>
</section>
