<section id="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Informations :</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row text-center" style="font-weight: bold;">
            <p>Date : 19.06.2021</p>
            <p>Lieu : <a href="#mairie">Mairie de luynes</a></p>
            <p>Heure : 14h15</p>
        </div>

        <hr class="primary">

        <div class="row text-center center-flex">
            <p>Retrouvons-nous tous devant la <a href="#mairie">mairie</a> de Luynes pour célébrer l'union de mon papa et de ma maman !</p>
            <img src="img/mairie.png" alt="">
        </div>

        <hr class="primary">

        <div class="row text-center center-flex">
            <p>Prenons la pose afin d'immortaliser ce moment magique</p>
            <img src="img/camera.jpg" alt="" width="250px">
        </div>

        <hr class="primary">

        <div class="row text-center center-flex">
            <h3>Ne nous quittons pas si vite !</h3>
            <p>Venez découvrir ou redécouvrir <a href="#maison">notre maison</a> pout y déguster un apéritif dinatoire et partager un bon moment dans notre jardin</p>
            <img src="img/maison.png" alt="">
        </div>

    </div>
</section>
