<section id="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Informations :</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row text-center">
<!--            <div class="col-lg-12 col-md-12 text-center">-->
                <div>Date : 19.06.2021</div>
                <div>Lieu : Mairie</div>
                <div>Heure : 14h30 (14h15)</div>
<!--            </div>-->
        </div>

<!--        <div class="row">-->
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <div class="service-box">-->
<!--                    <div>Date : 19.06.2021</div>-->
<!--                    <div>Lieu : Mairie</div>-->
<!--                    <div>Heure : 14h30 (14h15)</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <div class="service-box">-->
<!--                    <p>-->
<!--                        Retrouvons nous tous devant la mairie de Luynes pour célébrer l'union de mon papa et de ma maman !-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <div class="service-box">-->
<!--                    <p>-->
<!--                        Prenons la pose afin d'immortalisé ce moment magique-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-lg-offset-3 col-lg-3 col-md-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <p>-->
<!--                        Ne nous quittons pas si vite !-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <p>-->
<!--                        Venez découvrir ou re-découvrir notre maison et déguster un bon apéritif dans notre jardin-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</section>
