<section id="photos" class="bg-dark">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Photos</h2>
            <hr class="primary">
        </div>
        <div class="col-lg-12 text-center center-flex">
            <p>Merci à vous tous pour cette journée !!!</p>
            <p>Voici le <a href="https://whoisreno.pixieset.com/caroleandyannthomas/" target="_blank">lien</a> d'accès aux photos prises par le photographe</p>
            <p>N'hésitez pas à nous contacter pour obtenir le code d'accès</p>
            <img src="img/camera.jpg" alt="" width="250px">
        </div>
    </div>
</section>
