<!--<section class="no-padding bg-dark" id="portfolio">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row no-gutter">-->
<!--            <div class="col-md-4">-->
<!--                <img src="img/portfolio/before.jpg" class="img-responsive" alt="Maison avant le début des travaux">-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <img src="img/portfolio/clean.jpg" class="img-responsive" alt="Maison nettoyé">-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <img src="img/portfolio/peinte.jpg" class="img-responsive" alt="Maison peinte">-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="row no-gutter">-->
<!--            <div class="col-md-4 col-md-offset-2">-->
<!--                <img src="img/portfolio/allee-before.jpg" class="img-responsive" alt="Allée avant le début des travaux">-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <img src="img/portfolio/allee-after.jpg" class="img-responsive" alt="Allée nettoyée">-->
<!--            </div>-->
<!--        </div>-->


<!--    </div>-->
<!--</section>-->
