<div id="questions" class="bg-dark-lighter">

    <div class="row text-center">Merci de nous transmettre quelques informations par email :</div>

    <div class="row text-center">Serez vous présent ? Accompagné ?</div>

    <div class="text-center">
        <div>Soft</div>
        <ul>
            <li>Jus de pomme</li>
            <li>Ice tea</li>
            <li>Coca Cola</li>
            <li>Coca Cola zéro</li>
        </ul>

        <div>Alcool</div>
        <ul>
            <li>Vouvray</li>
            <li>Bière</li>
            <li>Mojito</li>
        </ul>

        <div>Alergie</div>
    </div>

    <div class="row text-center">Nous adapterons bien évidemment la situation en fonction de la crise sanitaire</div>
</div>
