<section id="questions" class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Quelques questions</h2>
            <hr class="primary">
        </div>
        <div class="col-lg-12 text-center">
            <p>Serez vous présent ? Accompagné ?</p>
        </div>

        <div class="col-lg-12 text-center">
            <h3>Pour nous aider à s'organiser :</h3>
            <hr class="primary">


            <p>Avez vous des allergies ?</p>

            <p>Quelles boissons aimez vous ?</p>
        </div>
        <div class="col-lg-7 col-lg-offset-5 col-xs-offset-4">
            <p>Soft</p>
            <ul>
                <li>Jus de pomme</li>
                <li>Ice tea</li>
                <li>Coca Cola</li>
                <li>Coca Cola zéro</li>
            </ul>

            <p>Alcool</p>
            <ul>
                <li>Vouvray</li>
                <li>Bière</li>
                <li>Mojito</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-lg-12">
            <p><h3 style="font-weight: bold;">Réponse attendu pour le 28 février 2021 au plus tard</h3></p>
        </div>
    </div>
</section>
